html {
    font-family: "Open Sans", sans-serif;
}
body {
    position: relative;
    margin: 0;
    background-color: #f9fafc;
}
header {
    display: flex;
    flex-direction: column;
    padding: 12px;
}
h3 {
    margin: 0;
}
p {
    color: #69696a;
    font-size: 14px;
    border-left: solid 2.5px #69696a;
    padding-left: 15px;
    margin-left: 4px;
}
button {
    color: #fff;
    background-color: #000;
    border: #000;
    border-radius: 20px;
    font-size: 15px;
    height: 45px;
}
nav {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

ul {
    padding: 0;
    list-style: none;
}
li {
    padding: 5px;
}
a {
    color: #69696a;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    padding: 12px;
}
h1 {
    margin-bottom: 0;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 680px;
    background-color: rgb(247, 193, 162, 0.7);
    height: 45px;
    width: 100%;
    padding-left: 15px;
}
.footer-nav {
    display: flex;
    flex-direction: row;
    padding-right: 25px;
    gap: 15px;
}