html {
    font-family: "Open Sans", sans-serif;
}
body {
    position: relative;
    margin: 0;
    background-color: #f9fafc;
}
header {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: 2px solid rgb(132, 0, 255);
}
h3 {
    margin: 0;
}
p {
    color: #69696a;
    font-size: 14px;
    border-left: solid 2.5px #69696a;
    padding-left: 15px;
    margin-left: 4px;
}
button {
    color: #fff;
    background-color: #000;
    border: #000;
    border-radius: 20px;
    font-size: 15px;
    height: 45px;
}
nav {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

ul {
    padding: 0;
    list-style: none;
}
li {
    padding: 5px;
}
a {
    color: #69696a;
    text-decoration: none;
}
main {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: 2px solid blue;
}
.main-section-1 {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(162, 0, 255);
}
h1 {
    margin-bottom: 0;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 680px;
    background-color: rgb(247, 193, 162, 0.7);
    height: 45px;
    width: 100%;
    padding-left: 15px;
}
.footer-nav {
    display: flex;
    flex-direction: row;
    padding-right: 25px;
    gap: 15px;
}

@media screen and (min-width: 768px) {
    header {
        margin-bottom: 80px;
    }
    main {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 12px;
        border: 2px solid rgb(255, 0, 0);
    }
     .main-section-1 {
        display: flex;
        flex-direction: column;
        width: 50%;
        border: 2px solid rgb(0, 115, 255);
    }
    .main-section-2 {
        display: flex;
        flex
        border: 2px solid rgb(0, 255, 21);
        width: 50%;
    }
    .large-circle {
        position: absolute;
        left: 1100px;
        bottom: 80px;
        border-radius: 200px;
        width: 200px;
        height: 200px;
        background-color: rgba(247, 136, 167, 0.6);
    }
    .medium-circle {
        position: absolute;
        left: 1215px;
        bottom: 40px;
        border-radius: 150px;
        width: 150px;
        height: 150px;
        background-color: rgba(247, 193, 162, 0.7);
    }
    .small-circle {
        position: absolute;
        left: 1255px;
        bottom: 150px;
        border-radius: 90px;
        width: 90px;
        height: 90px;
        background-color: rgba(207, 130, 213, 0.6);
    }
}
/* @media screen and (min-width: 768px){
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
    }
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0;
        gap: 15px;
    }
    ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        list-style: none;
        gap: 15px;
    }
    #hire-us-button {
        width: 85px;
        border-radius: 25px;
    }
    main {
        display: flex;
        flex-direction: row;
        padding: 12px;
        border: 2px solid blue;
    }
   .main-section-1 {
        border: 2px solid rgb(255, 0, 0);
        flex-grow: 1;
    }
    .main-section-2 {
        border: 2px solid rgb(4, 255, 0);
        flex-grow: 2;
    }
    #call-to-action-button {

    }
    .large-circle {
        border-radius: 200px;
        width: 200px;
        height: 200px;
        background-color: rgba(247, 136, 167, 0.6);
    }
    .medium-circle {
        border-radius: 100px;
        width: 100px;
        height: 100px;
        background-color: rgba(247, 193, 162, 0.7);
    }
    .small-circle {
        border-radius: 80px;
        width: 80px;
        height: 80px;
        background-color: rgba(207, 130, 213, 0.6);
    }
} */